<div class="row">
    <div class="col-md-12">
        <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span> Recent Posts</h5>
        <table class="table table-sm table-hover table-striped">
            <tbody>
                <tr>
                    <th>Title</th>
                    <th>Message</th>
                </tr>
                <tr *ngFor="let p of posts">
                    <td>
                        {{p.title}}
                    </td>
                    <td>
                        {{p.body}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>